In [4]:
# nested loop? 
#condition  andar condition ki baat karng to usko condition ki baat kar 
# rhey the usko nested if else bol rhy thy

In [16]:
for i in range(1,5):
    print("student",i)

student 1
student 2
student 3
student 4

In [28]:
for i in range(1,5):
    print("student: =>",i)

    for j in range(1,4):
        print("subject", j)

student: => 1
subject 1
subject 2
subject 3
student: => 2
subject 1
subject 2
subject 3
student: => 3
subject 1
subject 2
subject 3
student: => 4
subject 1
subject 2
subject 3

In [32]:
for i in range(1,7):
    print("student",i)

    for j in range(5,0,-1):
        print("subject:=>",j)

student 1
subject:=> 5
subject:=> 4
subject:=> 3
subject:=> 2
subject:=> 1
student 2
subject:=> 5
subject:=> 4
subject:=> 3
subject:=> 2
subject:=> 1
student 3
subject:=> 5
subject:=> 4
subject:=> 3
subject:=> 2
subject:=> 1
student 4
subject:=> 5
subject:=> 4
subject:=> 3
subject:=> 2
subject:=> 1
student 5
subject:=> 5
subject:=> 4
subject:=> 3
subject:=> 2
subject:=> 1
student 6
subject:=> 5
subject:=> 4
subject:=> 3
subject:=> 2
subject:=> 1

In [38]:
for i in range(1,5):
    print("student",i)

    for j in range(1,i+1):
        print("subject==>",j)

student 1
subject==> 1
student 2
subject==> 1
subject==> 2
student 3
subject==> 1
subject==> 2
subject==> 3
student 4
subject==> 1
subject==> 2
subject==> 3
subject==> 4

In [48]:
for i in range(1,7):
    print("studnet",i)

    for j in range(7,i,-1):
        print("sub=>",j)

studnet 1
sub=> 7
sub=> 6
sub=> 5
sub=> 4
sub=> 3
sub=> 2
studnet 2
sub=> 7
sub=> 6
sub=> 5
sub=> 4
sub=> 3
studnet 3
sub=> 7
sub=> 6
sub=> 5
sub=> 4
studnet 4
sub=> 7
sub=> 6
sub=> 5
studnet 5
sub=> 7
sub=> 6
studnet 6
sub=> 7

In [56]:
for i in range(1,7):
    print("studnet",i)
    for j in range(0,7-i):
        print("sub",j)

studnet 1
sub 0
sub 1
sub 2
sub 3
sub 4
sub 5
studnet 2
sub 0
sub 1
sub 2
sub 3
sub 4
studnet 3
sub 0
sub 1
sub 2
sub 3
studnet 4
sub 0
sub 1
sub 2
studnet 5
sub 0
sub 1
studnet 6
sub 0

In [62]:
for i in range(1,7):
    print("student",i)

    for j in range(i,7):
        print("subject=>>",j)

student 1
subject=>> 1
subject=>> 2
subject=>> 3
subject=>> 4
subject=>> 5
subject=>> 6
student 2
subject=>> 2
subject=>> 3
subject=>> 4
subject=>> 5
subject=>> 6
student 3
subject=>> 3
subject=>> 4
subject=>> 5
subject=>> 6
student 4
subject=>> 4
subject=>> 5
subject=>> 6
student 5
subject=>> 5
subject=>> 6
student 6
subject=>> 6

In [72]:
for i in range(7,0,-1):
    print("student",i)

    for j in range(0,i):
        print("subject=>>",j)

student 7
subject=>> 0
subject=>> 1
subject=>> 2
subject=>> 3
subject=>> 4
subject=>> 5
subject=>> 6
student 6
subject=>> 0
subject=>> 1
subject=>> 2
subject=>> 3
subject=>> 4
subject=>> 5
student 5
subject=>> 0
subject=>> 1
subject=>> 2
subject=>> 3
subject=>> 4
student 4
subject=>> 0
subject=>> 1
subject=>> 2
subject=>> 3
student 3
subject=>> 0
subject=>> 1
subject=>> 2
student 2
subject=>> 0
subject=>> 1
student 1
subject=>> 0

In [76]:
for i in range(7,0,-1):
    print("student",i)

    for j in range(i,0,-1):
        print("subject=>>",j)

student 7
subject=>> 7
subject=>> 6
subject=>> 5
subject=>> 4
subject=>> 3
subject=>> 2
subject=>> 1
student 6
subject=>> 6
subject=>> 5
subject=>> 4
subject=>> 3
subject=>> 2
subject=>> 1
student 5
subject=>> 5
subject=>> 4
subject=>> 3
subject=>> 2
subject=>> 1
student 4
subject=>> 4
subject=>> 3
subject=>> 2
subject=>> 1
student 3
subject=>> 3
subject=>> 2
subject=>> 1
student 2
subject=>> 2
subject=>> 1
student 1
subject=>> 1

In [88]:
for i in range(1,5):
    print("student",i)

    for j in range(1,5):
        print("subject=>",j,end=" ")
    print("")

student 1
subject=> 1 subject=> 2 subject=> 3 subject=> 4
student 2
subject=> 1 subject=> 2 subject=> 3 subject=> 4
student 3
subject=> 1 subject=> 2 subject=> 3 subject=> 4
student 4
subject=> 1 subject=> 2 subject=> 3 subject=> 4

In [92]:
for i in range(1,5):
    
    for j in range(1,5):
        print("subject=>",j,end=" ")
    print("")

subject=> 1 subject=> 2 subject=> 3 subject=> 4
subject=> 1 subject=> 2 subject=> 3 subject=> 4
subject=> 1 subject=> 2 subject=> 3 subject=> 4
subject=> 1 subject=> 2 subject=> 3 subject=> 4

In [98]:
for i in range(1,5):
    
    for j in range(1,5):
        print("*",end=" ")
    print("")

* * * *
* * * *
* * * *
* * * *

In [116]:
for i in range(1,5):
    for j in range(1,i+1):
        print("*",end=" ")
    print("")

*
* *
* * *
* * * *

In [150]:
for i in range(5,1,-1):
    for j in range(6,i,-1):
        print("*",end=" ")
    print("")

*
* *
* * *
* * * *

In [154]:
for i in range(5,1,-1):
    for j in range(i-1,5):
        print("*",end=" ")
    print("")

*
* *
* * *
* * * *

In [156]:
for i in range(1,6):
    for j in range(i,6):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*