In [15]:
# 1. Take a number from 2 to 5 and print its table

In [112]:
for i in range(2,6):
    print()
    for j in range(1,11):
        print(i*j,end=" ")

2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50

In [114]:
# 2.Take a number from 6 to 2 and print its table

for i in range(6,1,-1):
    print()
    for j in range(1,11):
        print(i*j,end=" ")

6 12 18 24 30 36 42 48 54 60
5 10 15 20 25 30 35 40 45 50
4 8 12 16 20 24 28 32 36 40
3 6 9 12 15 18 21 24 27 30
2 4 6 8 10 12 14 16 18 20

In [116]:
# 3. Take a number from 6 to 2 and print its table in reverse

for i in range(6,1,-1):
    print()
    for j in range(10,0,-1):
        print(i*j,end=" ")

60 54 48 42 36 30 24 18 12 6
50 45 40 35 30 25 20 15 10 5
40 36 32 28 24 20 16 12 8 4
30 27 24 21 18 15 12 9 6 3
20 18 16 14 12 10 8 6 4 2

In [118]:
# 4. Check a number is a prime not

num = int(input("enter any number"))
x = 0
for i in range(2,num):
    if num % i ==0:
        x+=1
        break

if x == 1:
    print("not prime")

else:
    print("prime")

enter any number 5

prime

In [120]:
# 5. Take a range of values from 2 to 19 and print all prime number

for num in range(2,20):
    x =0
    for i in range(2,num):
        if num % i ==0:
            x+=1
            break
    
    else:
        print("prime",num)

prime 2
prime 3
prime 5
prime 7
prime 11
prime 13
prime 17
prime 19

In [122]:
# ****
# ***
# **
# *

In [126]:
for i in range(1,5):
    for j in range(i,5):
        print("*",end=" ")
    print()

* * * *
* * *
* *
*

In [128]:
# $$$*
# $$**
# $***
# ****

In [140]:
for i in range(1,5):
    for j in range(i,4):
        print("$",end=" ")
    for k in range(1,i+1):
        print("*",end=" ")
    print()

$ $ $ *
$ $ * *
$ * * *
* * * *

In [156]:
mylist = [10,20,30,"aman","harsh"]
mylist.append("divyani")
print(mylist)

[10, 20, 30, 'aman', 'harsh', 'divyani']

In [164]:
mylist = [10,20,30,"aman","harsh"]
mylist.pop()
print(mylist)

[10, 20, 30, 'aman']

In [174]:
mylist = [10,20,30,"aman","harsh"]
x = mylist.pop()
print(mylist,x)

[10, 20, 30, 'aman'] harsh

In [182]:
mylist = [10,20,30,"aman","harsh"]
x= mylist.remove("harsh")
print(mylist,x)

[10, 20, 30, 'aman'] None

In [190]:
mylist = [545,74,631,7755]
mylist.sort()
print(mylist)

[74, 545, 631, 7755]

In [202]:
mylist = [10,20,30,"aman","harsh"]
mylist.insert(0,7)
print(mylist)

[7, 10, 20, 30, 'aman', 'harsh']